<div class="feed">
  <h2>HOMEPAGE</h2>
{{#each model as |item|}}
	{{item.body}}
      <span>Who:</span> {{item.who}}
      <span>What:</span> {{item.what}}
      <span>When:</span> {{item.when}}
      <span>Desc:</span> {{item.desc}}
{{/each}}
</div>
{{outlet}}
