<div class="item">
{{#each model as |item|}}
  <article class="item">
    <img class="item" src="https://dl.airtable.com/O2gR19UETd6OIUqDOO5D_large_14.jpg">
    <div class="detail who">
    {{item.who}}
    </div>
    <div class="detail what">
    {{item.what}}
    </div>
    <div class="detail when">
    {{item.when}}
    </div>
    <div class="detail desc">
    {{item.desc}}
    </div>
  </article>
 {{/each}}
{{#bs-tab as |tab|}}
  {{#tab.pane title="Description"}}
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur ma\
gni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis su\
scipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
  {{/tab.pane}}
{{#if hasGroup}}
{{#tab.pane title="Group"}}
{{group.desc}}
{{/tab.pane}}
{{/if}}
{{/bs-tab}}
</div>
{{outlet}}