<div class="item">
{{#each model as |item|}}
  <article class="item">
    <img class="item" src="https://dl.airtable.com/O2gR19UETd6OIUqDOO5D_large_14.jpg">
    <div class="detail who">
    {{item.who}}
    </div>
    <div class="detail what">
    {{item.what}}
    </div>
    <div class="detail when">
    {{item.when}}
    </div>
    <div class="detail desc">
    {{item.desc}}
    </div>
  </article>
  {{#bs-nav type="tabs" as |nav|}}
    {{#nav.item}}{{#nav.link-to "demo.tabs.index"}}Tab 1{{/nav.link-to}}{{/nav.item}}
    {{#nav.item}}{{#nav.link-to "demo.tabs.other"}}Tab 2{{/nav.link-to}}{{/nav.item}}
  {{/bs-nav}}
  {{outlet}}
{{/each}}
</div>
{{outlet}}
